<% content_for(:head) do %>
  <%= dato_meta_tags(work) %>
<% end %>

<article class="sheet">
  <div class="sheet__inner">
    <h1 class="sheet__title"><%= work.title %></h1>
    <p class="sheet__lead"><%= work.excerpt %></p>
    <div class="sheet__slider">
      <div class="slider js_slider">
        <div class="slider__frame js_frame">
          <ul class="slider__slides js_slides">
            <% work.gallery_slides.each do |work| %>
              <li class="slider__slide js_slide">
                <img src="<%= work.image.url(h: 300, fm: 'jpg') %>">
              </li>
            <% end %>
          </ul>
        </div>
        <span class="slider__prev js_prev"></span>
        <span class="slider__next js_next"></span>
      </div>
    </div>
    <div class="sheet__body">
      <%= markdownify(work.description) %>
    </div>
    <div class="sheet__gallery">
      <img src="<%= work.cover_image.url(w: 600, fm: 'jpg') %>" />
    </div>
  </div>
</article>
