<% content_for(:head) do %>
  <%= dato_meta_tags(dato.about_page) %>
<% end %>

<article class="sheet">
  <div class="sheet__inner">
    <h1 class="sheet__title"><%= dato.about_page.title %></h1>
    <p class="sheet__lead"><%= dato.about_page.subtitle %></p>
    <div class="sheet__gallery">
      <img src="<%= dato.about_page.photo.url(w: 600, fm: 'jpg') %>" />
    </div>
    <div class="sheet__body">
      <%= markdownify(dato.about_page.bio) %>
    </div>
  </div>
</article>

